{
    "database": {
        "host": "autorack.proxy.rlwy.net",
        "user": "postgres",
        "password": "ajZvevKqNTZcYVFFBKzPBXTNWshKsYny",
        "database": "railway",
        "port": 17720,
        "sslmode": "require"
    },
    "database_type": "postgres",
    "fingerprint_limit": 100000,
    "debug": true
}
