{
    "database": {
        "host": "isabelle.db.elephantsql.com",
        "user": "jngfozzr",
        "password": "9LtMBayHNIJJ-iXrVlI1Ow3C3EgXElLd",
        "database": "jngfozzr"
    },
    "database_type": "postgres",
    "fingerprint_limit": 100000,
    "debug": true
}